[submodule "pixel/lib/tmxlite"]
	path = pixel/lib/tmxlite
	url = https://github.com/fallahn/tmxlite.git
[submodule "pixel/lib/sol2"]
	path = pixel/lib/sol2
	url = https://github.com/ThePhD/sol2.git
[submodule "pixel/lib/glm"]
	path = pixel/lib/glm
	url = https://github.com/g-truc/glm.git
[submodule "pixel/lib/Catch2"]
	path = pixel/lib/Catch2
	url = https://github.com/catchorg/Catch2.git
